* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

#bg1 {
    background-color: dimgrey;
    height: 900px;
    background-image: url(imagens/oALNOsndH61ksETkYcnPFtNyockLdNCqz2UvvzOPr18.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* .imgfundo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */

.borda {
    line-height: 900px;
    text-align: center;
}

.borda2 {
    text-align: center;
}

#tittle {
    border: 2px solid rgba(169, 169, 169, 0.219);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    font-size: 2em;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.219);
    color: black;
    font-weight: lighter;
    font-weight: bolder;
}

.branco {
    height: 200px;
    width: 90vw;
    margin: auto;
    text-align: justify;
}

h3 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    font-family: sans-serif;
}

.subh2 {
    text-align: center;
    color: white;
    line-height: 500px;

}

#bg2 {
    height: 500px;
    background-image: url(imagens/Dark-Netflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fundo {
    height: 150px;
    background-color: dimgrey;
}

.fundo1 {
    line-height: 150px;
    padding-left: 30px;
    color: white;
}

.fundo2 {
    line-height: 150px;
    padding-left: 30px;
    color: white;
}

#bg3 {
    background-color: coral;
    height: 500px;
    background-image: url(imagens/jonas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#header {
    background-color: black;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    transition: 1s;
}

a:hover {
    background-color: gray;

}
